
  
/* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .nav {
      background-color: olive;
    }
}

@media screen and (min-width: 600px) {
    .nav{
    
        width: 100%;
        padding-bottom :10px;
     
    }
    .nav .nav-list{ 
        width:100%;
        margin-left :2%;
        margin-right: 2%;
        text-align: center;  
        list-style: none;
        display: inline-block
    }
    .nav .nav-list > li{
        margin-left: 9.0vw;
        margin-right:9.0vw;
        display: inline;
    }
    
    .nav .nav-list >li >a{
        color: black;
        text-decoration: none;
       
    }
    .nav .nav-list > li > a:hover {
        color:wheat;
        font-weight: bold;
    }
   
}



